{% extends 'web/base.html.twig' %}

{% block title %}{{ 'contact' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&v=weekly" defer></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            let map;
            let marker;
            const position = { lat: 40.71065, lng: 0.57584 };
            async function initMap() {
                const { Map } = await google.maps.importLibrary("maps");
                map = new Map(document.getElementById("map"), {
                    center: position,
                    zoom: 15,
                });
                marker = new google.maps.Marker({
                    position: position,
                    draggable: false,
                    map: map,
                    title: "{{ project_title }}",
                });
            }
            initMap();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="pb-2 border-bottom mb-5">{{ 'contact' | trans | capitalize }}</h1>
                {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary text-white"><i class="fa-regular fa-paper-plane me-1"></i> {{ 'Send' | trans }}</button>
                {{ form_end(form) }}
            </div>
            <div class="col">
                <h1 class="pb-2 border-bottom mb-5">{{ 'map' | trans | capitalize }}</h1>
                <div id="map" class="gmap"></div>
            </div>
        </div>
    </div>
{% endblock %}
