{% extends 'web/base.html.twig' %}

{% block title %}{{ 'homepage' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="text-center py-5" style="background-image: url('{{ asset('build/images/hero00.jpeg') }}');background-size: cover;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <h1 class="mb-0 sr-only">{{ 'homepage' | trans | capitalize }}</h1>
                        <img src="{{ asset('build/vectors/full_logo.svg') }}" alt="{{ 'frontend.logo' | trans | capitalize }} {{ project_title }}" width="230" class="d-block mx-auto m-5">
                        <figure class="text-end bg-light-subtle opacity-75 shadow-lg rounded-2 p-3 m-5">
                            <blockquote class="blockquote">
                                <p>{{ 'Hero text paragraph 1' | trans | raw }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0">
                                {{ 'Hero text paragraph 2' | trans | raw }}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-body-tertiary">
        <div class="row">
            <div class="col">
                <div class="container my-5">
                    <div class="p-5 text-center">
                        <p class="col-lg-8 mx-auto fs-5 text-muted">
                            {{ 'Homeland.P1' | trans | raw }}
                        </p>
                        <p class="col-lg-8 mx-auto fs-5 text-muted">
                            {{ 'Homeland.P2' | trans }}
                        </p>
                        <p class="col-lg-8 mx-auto fs-5 text-muted mb-5">
                            {{ 'Homeland.P3' | trans }}
                        </p>
                        <div class="d-inline-flex gap-2">
                            <a class="btn btn-primary btn-lg text-white" href="{{ path('app_web_projects_list') }}">
                                <i class="fa-solid fa-search fa-fw"></i> {{ 'projects_cta' | trans | capitalize }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5">
        <h3 class="pb-2 border-bottom">{{ 'services' | trans | capitalize }}</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% set icon = ['fa-compass-drafting', 'fa-house', 'fa-archway', 'fa-building', 'fa-couch', 'fa-certificate', 'fa-award', 'fa-stamp'] %}
            <div class="feature col">
                <div class="d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
                    <i class="p-5 fa-3x fa-solid fa-house"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">{{ 'Services.G1.Title' | trans | capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ 'Services.G1.Item1' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G1.Item2' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G1.Item3' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G1.Item4' | trans }}</li>
                </ul>
            </div>
            <div class="feature col">
                <div class="d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
                    <i class="p-5 fa-3x fa-solid fa-building"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">{{ 'Services.G2.Title' | trans | capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ 'Services.G2.Item1' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G2.Item2' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G2.Item3' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G2.Item4' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G2.Item5' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G2.Item6' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G2.Item7' | trans }}</li>
                </ul>
            </div>
            <div class="feature col">
                <div class="d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
                    <i class="p-5 fa-3x fa-solid fa-award"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">{{ 'Services.G3.Title' | trans | capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ 'Services.G3.Item1' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G3.Item2' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G3.Item3' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G3.Item4' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G3.Item5' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G3.Item6' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G3.Item7' | trans }}</li>
                </ul>
            </div>
            <div class="feature col">
                <div class="d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
                    <i class="p-5 fa-3x fa-solid fa-compass-drafting"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">{{ 'Services.G4.Title' | trans | capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ 'Services.G4.Item1' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G4.Item2' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G4.Item3' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G4.Item4' | trans }}</li>
                </ul>
            </div>
            <div class="feature col">
                <div class="d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
                    <i class="p-5 fa-3x fa-solid fa-comments"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">{{ 'Services.G5.Title' | trans | capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ 'Services.G5.Item1' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G5.Item2' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G5.Item3' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G5.Item4' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G5.Item5' | trans }}</li>
                </ul>
            </div>
            <div class="feature col">
                <div class="d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
                    <i class="p-5 fa-3x fa-solid fa-landmark"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">{{ 'Services.G6.Title' | trans | capitalize }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">{{ 'Services.G6.Item1' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G6.Item2' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G6.Item3' | trans }}</li>
                    <li class="list-group-item">{{ 'Services.G6.Item4' | trans }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
