{% extends 'web/base.html.twig' %}

{% block title %}{{ project.name }} · {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-secondary" aria-label="Submenu navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#submenu" aria-controls="submenu" aria-expanded="false" aria-label="{{ 'frontend.toggle' | trans }}">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-lg-flex" id="submenu">
                        <div class="d-lg-flex col-lg-2 justify-content-lg-start">
                            <a href="{{ path('app_web_projects_list') }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-rotate-left fa-fw"></i> {{ 'Go back to projects' | trans }}</a>
                        </div>
                        <div class="d-lg-flex col-lg-5 justify-content-lg-start">

                        </div>
                        <div class="d-lg-flex col-lg-5 justify-content-lg-end">
                            {% if previous_project %}
                                <a href="{{ path('app_web_project_detail', {'slug': previous_project.slug}) }}" class="btn btn-outline-secondary me-3"><i class="fa-solid fa-circle-left fa-fw"></i> {{ 'Go to previous project' | trans }}</a>
                            {% endif %}
                            {% if following_project %}
                                <a href="{{ path('app_web_project_detail', {'slug': following_project.slug}) }}" class="btn btn-outline-secondary">{{ 'Go to following project' | trans }} <i class="fa-solid fa-circle-right fa-fw"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="pb-2 border-bottom mb-5">{{ 'Project' | trans }} {{ project.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img
                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                            src: vich_uploader_asset(project, 'imageFile') | imagine_filter('1200xY')
                        }) }}
                        src="{{ data_uri_thumbnail(vich_uploader_asset(project, 'imageFile') | imagine_filter('1200xY'), 4, 3) }}"
                        class="img-fluid mb-3"
                        alt="{{ project.name }}"
                >
                {% for image in project.images %}
                    <img
                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                src: vich_uploader_asset(image, 'imageFile') | imagine_filter('1200xY')
                            }) }}
                            src="{{ data_uri_thumbnail(vich_uploader_asset(image, 'imageFile') | imagine_filter('1200xY'), 4, 3) }}"
                            class="img-fluid mb-3"
                            alt="{{ image.name }}"
                    >
                {% endfor %}
            </div>
            <div class="col">
                <span class="badge text-bg-secondary">{{ project.projectCategory.name }}</span>
                <h4 class="text-secondary my-3">{{ project.summary }}</h4>
                {{ project.description | raw }}
            </div>
        </div>
    </div>
{% endblock %}
