{% extends 'web/base.html.twig' %}

{% block title %}{{ 'projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-secondary" aria-label="Submenu navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#submenu" aria-controls="submenu" aria-expanded="false" aria-label="{{ 'frontend.toggle' | trans }}">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-lg-flex" id="submenu">
                        <div class="d-lg-flex col-lg-12 justify-content-lg-center">
                            <ul class="nav nav-pills nav-fill">
                                {% for item in categories %}
                                    <li class="nav-item">
                                        <a class="nav-link{% if item.id == category.id %} active{% endif %}" href="{{ path('app_web_project_category_detail', {'slug': item.slug}) }}">{{ item.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="pb-2 border-bottom">{{ 'projects' | trans | capitalize }}</h1>
                {% if projects | length == 0 %}
                    <div class="alert alert-warning mt-5 mb-0" role="alert">
                        <i class="fa-solid fa-exclamation-triangle fa-fw"></i> {{ 'Empty Project List Warning' | trans }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% if projects | length > 0 %}
                {% for project in projects %}
                    <div class="col-sm-4">
                        <div class="card">
                            <img
                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                        src: vich_uploader_asset(project, 'imageFile') | imagine_filter('800xY')
                                    }) }}
                                    src="{{ data_uri_thumbnail(vich_uploader_asset(project, 'imageFile') | imagine_filter('800xY'), 4, 3) }}"
                                    class="card-img-top"
                                    alt="{{ project.name }}"
                            >
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                                <p class="card-text">
                                    {{ project.summary }}
                                </p>
                                <a href="{{ path('app_web_project_detail', {'slug': project.slug}) }}" class="btn btn-primary text-white">
                                    <i class="fa-solid fa-search fa-fw"></i> {{ 'read more' | trans | capitalize }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
