{% extends 'web/base.html.twig' %}

{% block title %}{{ project.name }} · {{ parent() }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="pb-2 border-bottom mb-5">{{ 'Project' | trans }} {{ project.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img
                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                            src: vich_uploader_asset(project, 'imageFile') | imagine_filter('1200xY')
                        }) }}
                        src="{{ data_uri_thumbnail(vich_uploader_asset(project, 'imageFile') | imagine_filter('1200xY'), 4, 3) }}"
                        class="img-fluid mb-3"
                        alt="{{ project.name }}"
                >
                {% for image in project.images %}
                    <img
                            {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                src: vich_uploader_asset(image, 'imageFile') | imagine_filter('1200xY')
                            }) }}
                            src="{{ data_uri_thumbnail(vich_uploader_asset(image, 'imageFile') | imagine_filter('1200xY'), 4, 3) }}"
                            class="img-fluid mb-3"
                            alt="{{ image.name }}"
                    >
                {% endfor %}
            </div>
            <div class="col">
                <h4 class="text-secondary mb-3">{{ project.summary }}</h4>
                {{ project.description | raw }}
            </div>
        </div>
    </div>
{% endblock %}
