{% extends 'web/base.html.twig' %}

{% block title %}{{ 'projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block body %}
    {% if categories | length > 0 %}
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-body-secondary" aria-label="Submenu navbar">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#submenu" aria-controls="submenu" aria-expanded="false" aria-label="{{ 'frontend.toggle' | trans }}">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-lg-flex" id="submenu">
                            <div class="d-lg-flex col-lg-12 justify-content-lg-center">
                                <ul class="nav nav-pills nav-fill">
                                    {% for category in categories %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_web_project_category_detail', {'slug': category.slug}) }}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    {% endif %}
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="pb-2 border-bottom">{{ 'projects' | trans | capitalize }}</h1>
            </div>
        </div>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% if projects | length > 0 %}
                {% for project in projects %}
                    <div class="col-sm-4">
                        <div class="card">
                            <img
                                    {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                                        src: vich_uploader_asset(project, 'imageFile') | imagine_filter('800xY')
                                    }) }}
                                    src="{{ data_uri_thumbnail(vich_uploader_asset(project, 'imageFile') | imagine_filter('800xY'), 4, 3) }}"
                                    class="card-img-top"
                                    alt="{{ project.name }}"
                            >
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }}</h5>
                                <p class="card-text">
                                    {{ project.summary }}
                                </p>
                                <a href="{{ path('app_web_project_detail', {'slug': project.slug}) }}" class="btn btn-primary text-white">
                                    <i class="fa-solid fa-search fa-fw"></i> {{ 'read more' | trans | capitalize }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for i in 0..6 %}
                    <div class="col-sm-4">
                        <div class="card">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="40%" y="50%" fill="#dee2e6">{{ 'Project' | trans }} {{ loop.index }}</text>
                            </svg>
                            <div class="card-body">
                                <h5 class="card-title"><span class="placeholder col-{{ random(8, 11) }} placeholder-lg"></span></h5>
                                <p class="card-text">
                                    {% include 'helpers/random_paragraph_placeholder.html.twig' %}
                                </p>
                                <a href="{{ path('app_web_project_placeholder') }}" class="btn btn-primary text-white">
                                    <i class="fa-solid fa-search fa-fw"></i> {{ 'read more' | trans | capitalize }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
