{% if computed.monthlyPerformances | length > 0 %}
    <div class="table-responsive">
        <table class="table table-bordered margin-bottom-none">
            <thead>
            <tr>
                <th class="text-right">{{ 'Year' | trans }}</th>
                <th class="text-right">{{ 'New Customers' | trans }}</th>
                <th class="text-right">{{ 'Incoming' | trans }}</th>
                <th class="text-right">{{ 'Expense' | trans }}</th>
                <th class="text-right">{{ 'Result' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for monthly_performance in computed.monthlyPerformances %}
                <tr>
                    <td class="text-right">{{ monthly_performance.year }}</td>
                    <td class="text-right">{{ monthly_performance.newCustomersAmount }}</td>
                    <td class="text-right text-success">{{ monthly_performance.invoiced | m }}</td>
                    <td class="text-right text-danger">-{{ monthly_performance.expensed | m }}</td>
                    <td class="text-right {% if monthly_performance.result | money_as_float >= 0 %}text-success{% else %}text-danger{% endif %}">{{ monthly_performance.result | m }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="active">
                <th class="text-right">{{ 'Total' | trans }}</th>
                <th class="text-right">{{ computed.totalNewCustomers | i }}</th>
                <th class="text-right text-success">{{ computed.totalInvoiced | m }}</th>
                <th class="text-right text-danger">-{{ computed.totalExpensed | m }}</th>
                <th class="text-right {% if computed.totalResult | money_as_float >= 0 %}text-success{% else %}text-danger{% endif %}">{{ computed.totalResult | m }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% else %}
    <div class="alert alert-warning margin-bottom-none" role="alert">
        <i class="fa fa-exclamation-triangle fa-fw"></i> {{ 'No Results Found' | trans }}
    </div>
{% endif %}
