<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a href="{% if computed.totalProjectsAmount == 0 %}{{ path('admin_app_project_create') }}{% else %}{{ path('admin_app_project_list') }}{% endif %}">
        <div class="info-box bg-light-blue">
            <span class="info-box-icon"><i class="far fa-folder-open"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'projects' | trans }}</span>
                <span class="info-box-number">{{ computed.totalProjectsAmount | i }}</span>
                {% if computed.totalProjectsAmount == 0 %}
                    <div class="progress"></div>
                    <span class="progress-description"><i class="fa fa-plus-circle fa-fw"></i> {{ 'Add new' | trans }}</span>
                {% endif %}
            </div>
        </div>
    </a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a href="{{ path('admin_app_contactmessage_list') }}">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="far fa-envelope-open"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'Contact Message List' | trans }} {{ 'received' | trans }}</span>
                <span class="info-box-number">{{ computed.totalContactMessagesAmount | i }}</span>
                {% if computed.responsePendingContactMessagesAmount > 0 %}
                    <div class="progress"></div>
                    <span class="progress-description">{{ computed.responsePendingContactMessagesAmount | i }} {{ 'response pending' | trans }}</span>
                {% endif %}
            </div>
        </div>
    </a>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a href="{% if computed.totalCustomersAmount == 0 %}{{ path('admin_app_customer_create') }}{% else %}{{ path('admin_app_customer_list') }}{% endif %}">
        <div class="info-box bg-teal">
            <span class="info-box-icon"><i class="far fa-user"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'Customer List' | trans }}</span>
                <span class="info-box-number">{{ computed.totalCustomersAmount | i }}</span>
                {% if computed.totalCustomersAmount == 0 %}
                    <div class="progress"></div>
                    <span class="progress-description"><i class="fa fa-plus-circle fa-fw"></i> {{ 'Add new' | trans }}</span>
                {% endif %}
            </div>
        </div>
    </a>
</div>
